.container {
  background-color: rgba(30, 32, 38, 0.498);
  margin: auto;
  text-align: center;
  padding: 40px;
  width: 600px;
  height: 100vh;
  h3 {
    margin-bottom: 80px;
  }
  table {
    th {
      font-size: 24px;
      font-weight: 600;
    }
    &.bid {
      color: rgb(2, 192, 118)
    }
    &.ask {
      color: rgb(248, 73, 96)
    }
    tfoot {
      th {
        font-size: 16px;
      }
    }
  }
}
